## Print Statements

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print(Hello World!) # notice the error. Why?

In [ ]:
print("Hello World!")
print("Where does this line get printed?")

In [ ]:
print("Hello World!", end="***")
print("Where does this line get printed?") # Note - default value of end is newline "\n".

In [ ]:
print("Hello World!", end=" ")
print("Where does this line get printed?")

In [ ]:
# Concatenate strings inside print statement

print("Hello" + "World!")
print("Hello" , "World!")

### Exercise:
Display the following - "Python" comes from a 1970s comedy series

In [ ]:
# Display the following - "Python" comes from a 1970s comedy series -- use of escape character
# Type your soultion here

## Comments in Python

In [ ]:
# This is a single line comment

"""
This is 
a multi-line
comment!!!
"""

## Calculations in Python

In [ ]:
# Addition and subtraction
print(8 + 5)
print(13 - 3)

# Multiplication and division
print(5 * 4)
print(200 / 10)

print(7 // 3) # integer division

# Modulo and exponentiation
print(17 % 3)
print(12 ** 4)

13
10
20
20.0
2
2
20736

In [ ]:
cost = 100
salesTax = 0.095
tax = cost * salesTax
discount = 0.20

print((cost + tax) * discount)
print(cost + tax * discount)

# notice the difference in the result based on position of paratheses

21.900000000000002
101.9

## Variables

In [ ]:
# variable assignment and printing

age = 10
name = "Sophie"
amount = 100.20
isItSunny = True

print(age)
print(name)
print(amount)
print(isItSunny)

10
Sophie
100.2
True

In [ ]:
# calculations with variables

# area of cylinder

pi = 3.14
radius = 5
area = pi * (radius ** 2)

In [ ]:
# string concatenation

language = "Python"
message = "I love programming in" + language

print(message)

In [ ]:
# string methods

lastName = "Steinbeck"
print(lastName.upper())
print(lastName.lower())

### Exercise:
 Convert the value of fname to upper case and value of sname to lower case.
  Concatenate the converted names and print it.

In [ ]:
fname = "Karl"
sname = "John" 
# Type your soultion here (Output - KARL john)
print(fname.upper(), sname.lower())

KARL john

### Exercise:
 Calculate the volume of a sphere with radius 4. Take pi = 3.14

In [ ]:
# Type your soultion here

## Variable Types and type conversion

In [ ]:
age = 10
name = "Sophie"
amount = 100.20
isItSunny = True

print(type(age))
print(type(name))
print(type(amount))
print(type(isItSunny))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
# operations with different variable types

num1 = 500
num2 = 2.0

result = num1 * num2 # what is the type of result?
# print(type(result))

In [ ]:
string1 = "hello"
string2 = string1 + string1
print(string2)

hellohello

### Exercise:
 Type conversion

In [ ]:
# convert value into float.
value = 1200
# Type your soultion here
float(value)

1200.0

## Reading input

In [ ]:
name = input("Please enter your name ")
print("Hi", name)

Please enter your name Andrew
Hi Andrew

### Exercise:
 Read 2 numbers from input. Store them in separate variables. Find the sum of the 2 variables

In [ ]:
# Type your soultion here

## Branching

### if-else statements

In [ ]:
password = input("Enter your password")

if password == "secret":
  print("Access granted")
else:
  print("Access denied")

### Exercise:
 Get the age of a person from input and display a message that states whether the person can vote or not.

In [ ]:
# Type your soultion here

age = int(input('Can you vote?'))
if age < 18:
  print('no')
else:
  print('yes')

Can you vote?18
yes

### Blocks

### Exercise:
 Get the age of a person from input and display a message that states that the person can vote if they are over 18. If not display a message that states that the person can't vote if they are under 18. Also calculate and display the number of years remaining until they can vote in this case.

In [ ]:
# Type your soultion here

### if-elif statements

In [ ]:
midtermScore = int(input("Enter your midterm score"))

if midtermScore >= 90:
  grade = 'A'
elif midtermScore >= 80:
  grade = 'B'
elif midtermScore >= 70:
  grade = 'C'
elif midtermScore >= 60:
  grade = 'D'
else:
  grade = 'F'

print(grade)

Enter your midterm score65
D

### Conditions in if-else

In [ ]:
mystery = "chicken"

if mystery: # this works equivalent to the condition if mystery == True:
  print(mystery, "is True")

In [ ]:
mystery = 0

if mystery: # equivalent to if mystery == 1:
  print(mystery, "is True")
else:
  print(mystery, "is False")

In [ ]:
x = False

if x:
  print("x is True")
else:
  print("x is False")

y = "False"

if y:
  print("y is True")
else:
  print("y is False")

# Notice that the results are different in both the cases. Why?

### Compound conditions in if-else

### Exercise:
 Pick a number between 1 and 10 and display is number is even or odd. Also, display an error message if number is less than 1 or greater than 10

In [ ]:
# Type your soultion here
list1 = [1,2,3,4,5,6,7,8,9,10]
number = int(input('Pick a number 1-10: '))
if number in list1:
  if number %2 == 0:
    print('number is even')
  elif number %2 != 0:
    print('number is odd')
else:
  print('ERROR')

Pick a number 1-10: 10
number is even

## Loops

### While loop

In [ ]:
numBottles = 99

while numBottles > 0:
  print(numBottles, "bottles of cold brew coffee on the wall")
  print("Take one down and pass it around")
  numBottles = numBottles - 1

print("Cold brew coffee is all gone")

# how many bottles left in the end?

99 bottles of cold brew coffee on the wall
Take one down and pass it around
98 bottles of cold brew coffee on the wall
Take one down and pass it around
97 bottles of cold brew coffee on the wall
Take one down and pass it around
96 bottles of cold brew coffee on the wall
Take one down and pass it around
95 bottles of cold brew coffee on the wall
Take one down and pass it around
94 bottles of cold brew coffee on the wall
Take one down and pass it around
93 bottles of cold brew coffee on the wall
Take one down and pass it around
92 bottles of cold brew coffee on the wall
Take one down and pass it around
91 bottles of cold brew coffee on the wall
Take one down and pass it around
90 bottles of cold brew coffee on the wall
Take one down and pass it around
89 bottles of cold brew coffee on the wall
Take one down and pass it around
88 bottles of cold brew coffee on the wall
Take one down and pass it around
87 bottles of cold brew coffee on the wall
Take one down and pass it around
86 bottles of cold brew coffee on the wall
Take one down and pass it around
85 bottles of cold brew coffee on the wall
Take one down and pass it around
84 bottles of cold brew coffee on the wall
Take one down and pass it around
83 bottles of cold brew coffee on the wall
Take one down and pass it around
82 bottles of cold brew coffee on the wall
Take one down and pass it around
81 bottles of cold brew coffee on the wall
Take one down and pass it around
80 bottles of cold brew coffee on the wall
Take one down and pass it around
79 bottles of cold brew coffee on the wall
Take one down and pass it around
78 bottles of cold brew coffee on the wall
Take one down and pass it around
77 bottles of cold brew coffee on the wall
Take one down and pass it around
76 bottles of cold brew coffee on the wall
Take one down and pass it around
75 bottles of cold brew coffee on the wall
Take one down and pass it around
74 bottles of cold brew coffee on the wall
Take one down and pass it around
73 bottles of cold brew coffee on the wall
Take one down and pass it around
72 bottles of cold brew coffee on the wall
Take one down and pass it around
71 bottles of cold brew coffee on the wall
Take one down and pass it around
70 bottles of cold brew coffee on the wall
Take one down and pass it around
69 bottles of cold brew coffee on the wall
Take one down and pass it around
68 bottles of cold brew coffee on the wall
Take one down and pass it around
67 bottles of cold brew coffee on the wall
Take one down and pass it around
66 bottles of cold brew coffee on the wall
Take one down and pass it around
65 bottles of cold brew coffee on the wall
Take one down and pass it around
64 bottles of cold brew coffee on the wall
Take one down and pass it around
63 bottles of cold brew coffee on the wall
Take one down and pass it around
62 bottles of cold brew coffee on the wall
Take one down and pass it around
61 bottles of cold brew coffee on the wall
Take one down and pass it around
60 bottles of cold brew coffee on the wall
Take one down and pass it around
59 bottles of cold brew coffee on the wall
Take one down and pass it around
58 bottles of cold brew coffee on the wall
Take one down and pass it around
57 bottles of cold brew coffee on the wall
Take one down and pass it around
56 bottles of cold brew coffee on the wall
Take one down and pass it around
55 bottles of cold brew coffee on the wall
Take one down and pass it around
54 bottles of cold brew coffee on the wall
Take one down and pass it around
53 bottles of cold brew coffee on the wall
Take one down and pass it around
52 bottles of cold brew coffee on the wall
Take one down and pass it around
51 bottles of cold brew coffee on the wall
Take one down and pass it around
50 bottles of cold brew coffee on the wall
Take one down and pass it around
49 bottles of cold brew coffee on the wall
Take one down and pass it around
48 bottles of cold brew coffee on the wall
Take one down and pass it around
47 bottles of cold brew coffee on the wall
Take one down and pass it around
46 bottles of cold brew coffee on the wall
Take one down and pass it around
45 bottles of cold brew coffee on the wall
Take one down and pass it around
44 bottles of cold brew coffee on the wall
Take one down and pass it around
43 bottles of cold brew coffee on the wall
Take one down and pass it around
42 bottles of cold brew coffee on the wall
Take one down and pass it around
41 bottles of cold brew coffee on the wall
Take one down and pass it around
40 bottles of cold brew coffee on the wall
Take one down and pass it around
39 bottles of cold brew coffee on the wall
Take one down and pass it around
38 bottles of cold brew coffee on the wall
Take one down and pass it around
37 bottles of cold brew coffee on the wall
Take one down and pass it around
36 bottles of cold brew coffee on the wall
Take one down and pass it around
35 bottles of cold brew coffee on the wall
Take one down and pass it around
34 bottles of cold brew coffee on the wall
Take one down and pass it around
33 bottles of cold brew coffee on the wall
Take one down and pass it around
32 bottles of cold brew coffee on the wall
Take one down and pass it around
31 bottles of cold brew coffee on the wall
Take one down and pass it around
30 bottles of cold brew coffee on the wall
Take one down and pass it around
29 bottles of cold brew coffee on the wall
Take one down and pass it around
28 bottles of cold brew coffee on the wall
Take one down and pass it around
27 bottles of cold brew coffee on the wall
Take one down and pass it around
26 bottles of cold brew coffee on the wall
Take one down and pass it around
25 bottles of cold brew coffee on the wall
Take one down and pass it around
24 bottles of cold brew coffee on the wall
Take one down and pass it around
23 bottles of cold brew coffee on the wall
Take one down and pass it around
22 bottles of cold brew coffee on the wall
Take one down and pass it around
21 bottles of cold brew coffee on the wall
Take one down and pass it around
20 bottles of cold brew coffee on the wall
Take one down and pass it around
19 bottles of cold brew coffee on the wall
Take one down and pass it around
18 bottles of cold brew coffee on the wall
Take one down and pass it around
17 bottles of cold brew coffee on the wall
Take one down and pass it around
16 bottles of cold brew coffee on the wall
Take one down and pass it around
15 bottles of cold brew coffee on the wall
Take one down and pass it around
14 bottles of cold brew coffee on the wall
Take one down and pass it around
13 bottles of cold brew coffee on the wall
Take one down and pass it around
12 bottles of cold brew coffee on the wall
Take one down and pass it around
11 bottles of cold brew coffee on the wall
Take one down and pass it around
10 bottles of cold brew coffee on the wall
Take one down and pass it around
9 bottles of cold brew coffee on the wall
Take one down and pass it around
8 bottles of cold brew coffee on the wall
Take one down and pass it around
7 bottles of cold brew coffee on the wall
Take one down and pass it around
6 bottles of cold brew coffee on the wall
Take one down and pass it around
5 bottles of cold brew coffee on the wall
Take one down and pass it around
4 bottles of cold brew coffee on the wall
Take one down and pass it around
3 bottles of cold brew coffee on the wall
Take one down and pass it around
2 bottles of cold brew coffee on the wall
Take one down and pass it around
1 bottles of cold brew coffee on the wall
Take one down and pass it around
Cold brew coffee is all gone

In [ ]:

S = 0
areMore = True

print("Enter positive numbers or type -1 to exit")
while areMore:
  nextNum = int(input("Enter a number"))
  if nextNum < 0:
    areMore = False
  else:
    S = S + nextNum
print("The sum is", S)

Enter positive numbers or type -1 to exit
Enter a number1
Enter a number2
Enter a number43
Enter a number-1
The sum is 46

### Exercise: 

Print i as long as i is less than 6.

In [ ]:
i = 1
# Type your soultion here
while i < 6:
  i = i+1
  print(i)

2
3
4
5
6

### Exercise: Write code to get the following output:

          Do you want cream (y/n)?: x
          Do you want cream (y/n)?: z
          Do you want cream (y/n)?: y
          Here's your coffee with cream
          Do you want cream (y/n)?: n
          Here's your coffee without cream

In [ ]:
# Type your soultion here
userinput = str(input('Do you want creme? (y/n) '))
list1 = ['y','n']
while userinput.lower() not in list1:
  userinput = str(input('Do you want creme? (y/n) '))
if userinput.lower() == 'n':
  print('Heres your coffee without cream')
elif userinput.lower() == 'y':
  print('Heres your coffee with cream')

# how long does this program run?

Do you want creme? (y/n) q
Do you want creme? (y/n) q
Do you want creme? (y/n) ds
Do you want creme? (y/n) d
Do you want creme? (y/n) n
Heres your coffee without cream

### For loop and range function

In [ ]:
for num in range(3):
  print(num)
print("Done")

0
1
2
Done

In [ ]:
for num in range(3):
  print(num + 2)
print("Done")

2
3
4
Done

In [ ]:
msg = "learning"

for letter in msg:
  print(letter.upper(), end=" ")

L E A R N I N G

In [ ]:
# Program to print even number using step size in range().

n = int(input("Enter the number "))  
for i in range(2,n,2):  
    print(i)

Enter the number 4
2

### Exercise: 

Use for loop to print table of 5.

In [ ]:
# Type your soultion here

## Functions

Method - a function which is part of a class. You access it with an instance or object of the class.

Function - standalone function. 

All methods are functions, but not all functions are methods.

In [ ]:
# Function creation/definition - User-defined functions

def plus(a,b):
  return a + b

In [ ]:
# method

class Summation(object):
  def sum(self, a, b):
    self.contents = a + b
    return self.contents 

# Here Summation is the class and sum is the method of the class

In [ ]:
# to use method sum, instantiate Summation and then use the method

sumInstance = Summation()
sumInstance.sum(1,2)

3

In [ ]:
# to call the plus() function

plus(1, 2)

3

### Return from function

In [ ]:
def hello():
  print("Hello World") 
  return 

# pass any parameters within paratheses()
# functions may have a return statement - if nothing passed - None is returned

# above function can be written as
def hello():
  print("Hello World")

In [ ]:
def anotherFunction():
  name = str(input("Enter your name: "))
  if name:
    print ("Hello " + str(name))
  else:
    print("Hello World") 
  return 
  
anotherFunction()

Enter your name: Andrew
Hello Andrew

In [ ]:
def hello():
  print("Hello World") 
  return("hello")

def hello_noreturn():
  print("Hello World")

In [ ]:
# Multiply the output of 'hello()' with 2 
hello() * 2

Hello World

'hellohello'

In [ ]:
# (Try to) multiply the output of 'hello_noreturn()' with 2 --- error case
hello_noreturn() * 2

In [ ]:
def run():
  for x in range(10):
     if x == 2:
       return
  print("Run!") # this statement not executed. Why?
  
run()

In [ ]:
# Define 'plus()'
def plus(a,b):
  sum = a + b
  return (sum, a)

# Call 'plus()' and unpack variables 
sum, a = plus(3,4)

# Print 'sum()'
print(sum)

7

### Function Arguments

In [ ]:
# Define 'plus()' function
def plus(a,b = 2): # default argument for b
  return a + b
  
# Call 'plus()' with only 'a' parameter
plus(a=1)

# Call 'plus()' with 'a' and 'b' parameters
plus(a=1, b=3)

4

In [ ]:
class Employee:
  def __init__ (self, first,last):
    self.first = first
    self.last = last
  def FullName(self):
    return self.first,self.last

In [ ]:
emp1 = Employee('Andrew','Moore')

In [ ]:
print(emp1.FullName())

('Andrew', 'Moore')

In [ ]:
# a and b are required arguments

def plus(a,b):
  return a + b

In [ ]:
# variable number of arguments

def plus(*args):
  return sum(args)

# Calculate the sum
plus(1,4,5)

TypeError: ignored

### Exercise:
Create a function to check whether the given number is even or odd

In [ ]:
# Type your soultion here
def evenorodd(number):
  if number %2 == 0:
    print('numebr is even')
  else:
    print('Number is odd')

evenorodd(4)

numebr is even

### Exercise:
Create a function that returns the absolute value of the entered number.

In [ ]:
# Type your soultion here
def absolutevalue(number):
  return abs(number)

absolutevalue(-5)

5

## Lists

In [ ]:
# Examples

num = [1, 2]
print(num)

letter = ['a', 'b', 'c']
print(letter)

mix = [1, "a", 2, "b"]
print(mix)

mix1 = [[1, 2], ["a", "b", "c"]]
mix2 = [num, letter]
print(mix1)
print(mix2)

# type of list
print(type(num))
print(type(mix2))

[1, 2]
['a', 'b', 'c']
[1, 'a', 2, 'b']
[[1, 2], ['a', 'b', 'c']]
[[1, 2], ['a', 'b', 'c']]
<class 'list'>
<class 'list'>

### Exercise: 

print the sum of the given list.

In [ ]:
list3 = [1,3,4,54,100]
total = 0
for x in range(0,len(list3)):
  total = total + list3[x]

print(total)

162

### Subsetting lists

In [ ]:
mylist = ["hi", 0.05, 4, "hello", 22, 10.78, "abc"]

print(mylist[1])

print(mylist[6]) # same as the next
print(mylist[-1])

print(mylist[-3])

0.05
abc
abc
22

### List Slicing

In [ ]:
mylist = ["hi", 0.05, 4, "hello", 22, 10.78, "abc"]

print(mylist[1:4])
print(mylist[3:5])

print(mylist[:4])
print(mylist[2:])

print(mylist[::-1])

[0.05, 4, 'hello']
['hello', 22]
['hi', 0.05, 4, 'hello']
[4, 'hello', 22, 10.78, 'abc']
['abc', 10.78, 22, 'hello', 4, 0.05, 'hi']

### Changing list elements

In [ ]:
mylist = ["hi", 0.05, 4, "hello", 22, 10.78, "abc"]

mylist[2] = 28
print(mylist)

mylist[1:3] = [0.08, 56]
print(mylist)

newlist = mylist + ['extra', 'elements']
print(newlist)

del newlist[7]
print(newlist)

['hi', 0.08, 56, 'hello', 22, 10.78, 'abc', 'elements']

### Built-in functions/methods for lists

In [ ]:
num = [1, 2]
print(num)

num.append(3)
print(num)

letter = ['a', 'b', 'c']
letter = letter + ['d'] # brute force
letter

num.extend(letter)
print(num)

num.insert(1, 'x')
print(num)

# what's the difference between append and extend?

[1, 2]
[1, 2, 3]
[1, 2, 3, 'a', 'b', 'c', 'd']
[1, 'x', 2, 3, 'a', 'b', 'c', 'd']

In [ ]:
num.insert(2, 'x')
print(num)

num.remove('x')
print(num)

In [ ]:
num = [1, 2, 3]
letter = ["a", "b", "c"]

mix = num + letter

num.sort()
print(num)

letter.sort()
print(letter)

mix.sort() #error case
print(mix)

In [ ]:
x = [2, 40, 21, 5, 103]

print(len(x))
print(min(x))
print(max(x))
print(sum(x))

5
2
103

TypeError: ignored

### Exercise:

Calculate and display the mean of the following list - [2, 40, 21, 5, 103]

In [ ]:
# # Type your soultion here
import numpy as np
list4 = [2,40,21,6,103]
np.mean(list4)

34.4

### Exercise

Write a python function that takes the list [1, 2, 2, 3, 3, 4, 5, 5, 5, 5, 7, 7, 7, 9] as input and returns another list with only unique elements from the input list.

Example - 

          input - [1, 2, 2, 3, 3, 4, 5, 5, 5, 5, 7, 7, 7, 9]

          output - [1, 2, 3, 4, 5, 7, 9]

In [ ]:
# # Type solution here

input = [1,2,2,3,3,4,5,5,5,7,7,7,9]
list5= []
for x in input:
  if x not in list5:
    list5.append(x)

print(list5)

[1, 2, 3, 4, 5, 7, 9]

### Todo:

Explore the different methods available for list manipulation and try out different methods.

## Dictionaries

In [ ]:
foodMenu = {'Pizza': 12, 'Burger': 8, 'Biryani': 15, 'Hot Dog': 5, 'Sandwich': 7}

print(foodMenu.keys())
print(foodMenu.values())
print(foodMenu.items())

dict_keys(['Pizza', 'Burger', 'Biryani', 'Hot Dog', 'Sandwich'])
dict_values([12, 8, 15, 5, 7])
dict_items([('Pizza', 12), ('Burger', 8), ('Biryani', 15), ('Hot Dog', 5), ('Sandwich', 7)])

### Accessing elements of dictionary

In [ ]:
foodMenu = {'Pizza': 12, 'Burger': 8, 'Biryani': 15, 'Hot Dog': 5, 'Sandwich': 7}

print(foodMenu['Burger'])

# print(foodMenu[1]) #error case

8

In [ ]:
foodMenu = {'Pizza': 12, 'Burger': 8, 'Biryani': 15, 'Hot Dog': 5, 'Sandwich': 7}

for food in foodMenu.keys():
  print(food)

# for price in foodMenu.values():
#   print(price)

# for foodItem in foodMenu.items():
#   print(foodItem)

Pizza
Burger
Biryani
Hot Dog
Sandwich

### Adding elements

In [ ]:
foodMenu = {'Pizza': 12, 'Burger': 8, 'Biryani': 15, 'Hot Dog': 5, 'Sandwich': 7}

foodMenu['Soup'] = 6
print(foodMenu)

foodMenu['Burger'] = 9
print(foodMenu)

{'Pizza': 12, 'Burger': 8, 'Biryani': 15, 'Hot Dog': 5, 'Sandwich': 7, 'Soup': 6}
{'Pizza': 12, 'Burger': 9, 'Biryani': 15, 'Hot Dog': 5, 'Sandwich': 7, 'Soup': 6}

In [ ]:
mylist1 = [8, 12]
mylist2 = [12, 8]

print(mylist1 == mylist2)

myDict1 = {'Pizza':12, 'Burger': 8}
myDict2 = {'Burger': 8, 'Pizza':12}

print(myDict1 == myDict2)

# Comment on the order of elements

False
True

### Exercise:

Print the length of the foodMenu Dictionary

Insert key,value (Brownie,14) pair into dictionary

Print the updated dictionary

Print the length of the updated foodMenu Dictionary

In [ ]:
foodMenu = {'Pizza': 12, 'Burger': 8, 'Biryani': 15, 'Hot Dog': 5, 'Sandwich': 7}
# Type your Solution here:

## Modules

In [ ]:
# general format

# import moduleName
# moduleName.functionName -- to use the functions and methods of the module

In [ ]:
# do not run this cell
# Python Module example - try in a local environment (PyCharm)
# create a file called example.py, add the below code and save the file.

def add(a, b):
   """This program adds two
   numbers and return the result"""

   result = a + b
   return result

In [ ]:
# do not run this cell
# Let us assume you have a file example.py with the above code.
# You can import that module using - 

import example

# now you can access the add() function using dot(.) operator as - 

print(example.add(1, 2))

ModuleNotFoundError: ignored

In [ ]:
# let us take a look at some simple standard modules python provides
import random

number = random.randrange(6)
print(number)

number = random.randrange(6) + 1
print(number)

1
3

In [ ]:
import math
print("The value of pi is", math.pi)

The value of pi is 3.141592653589793

In [ ]:
# import a module with renaming

import math as m
print("The value of pi is", m.pi)

The value of pi is 3.141592653589793

In [ ]:
# We can import specific names from a module without importing the module as a whole

from math import pi
print("The value of pi is", pi)

The value of pi is 3.141592653589793

In [ ]:
# import all methods and names

from math import *
print("The value of pi is", pi)

# We will explore more modules in the following weeks

The value of pi is 3.141592653589793